.boilerplate {
    line-height: 1.667;
    padding-top: 40px;
    @include media('>=desktop') {
        padding-top: 66px;
        padding-bottom: 70px;
    }
}

.boilerplate__ttl {
    margin-bottom: 0;
}
