@include font-face('Gotham', '../fonts/Gotham', 400, normal, woff2 woff);
@include font-face('Gotham', '../fonts/Gotham-Medium', 500, normal, woff2 woff);

// Fonts
$font-primary:              Gotham, Arial, sans-serif;

// Body
$base-font-size:            15px !default;
$line-height-base:          2 !default; //30px

// link colors
$link-cr-font:              $cr-brand-primary;

// headings
$heading-weight:            500;
$heading-cr:                $cr-brand-tertiary;
$heading-letter-spacing:    0;

// Additional
$accent-color:              $cr-brand-primary;
