<% var data = {
  title: "Novel",
  author: "© 2019 All Rights Reserved."
}; %>

<%= _.template(require('./../includes/header.html').default)(data) %>

<section class="gallery container--xl no-gutters js-slider">
    <div class="slide">
        <img src="uploads/slide01.jpg" alt="">
    </div>
    <div class="slide">
        <img src="uploads/slide01.jpg" alt="">
    </div>
    <div class="slide">
        <img src="uploads/slide01.jpg" alt="">
    </div>
</section>

<section class="copyright">
    <div class="container--md">
        <p>Inceptos qui nobis mollis optio porta. Temporibus ipsa litora consectetur wisi laoreet donec aliquam pede proin aliquip? Sapiente similique feugiat! Senectus turpis auctor corporis repellendus! Eget faucibus nec ullamco accusamus, quisque temporibus quod recusandae quia cum tempore quisquam varius risus montes do lacinia ducimus elementum rhoncus penatibus primis? Consectetur assumenda sodales ante ut proin! Voluptatibus repellat! Occaecat sagittis nostra quasi, natus eros fames quos auctor montes mollit pharetra sit pharetra. Pretium netus feugiat pede? Expedita aliquam egestas tortor nunc, quod! Perferendis adipiscing phasellus esse, voluptatum ultrices modi maiores, facilisi libero? Dolor penatibus officia nobis neque, omnis ut porta fugiat! Fuga.</p>
    </div>
</section>

<section class="contacts container--xl">
    <div class="row">
        <div class="col-md-6">
            <div class="leasing-info">
                <div class="contacts__heading">
                    <h2 class="heading__ttl">LEASING INFORMATION</h2>
                    <p class="heading__sub-ttl">For leasing information please contact</p>
                </div>
                <div class="leasing-info__logo">
                    <img src="uploads/logo-cbre.png" alt="">
                </div>

                <div class="row contacts__addresses">
                    <div class="col-md-6">
                        Joe Smith <br>
                        704.123.4567<br>
                        <a href="mailto:jsmith@example.com">jsmith@example.com  </a>
                    </div>
                    <div class="col-md-6">
                        Jane Jones <br>
                        704.123.9876<br>
                        <a href="mailto:jjones@example.com">jjones@example.com</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <form action="" class="form-contact">
                <div class="contacts__heading">
                    <h2>STAY IN TOUCH</h2>
                    <p>Join our mailing list to receive the latest news and updates on NOVEL West Nashville</p>
                </div>

                <div class="form-contact__controls">
                    <input type="text" name="" class="form-control" placeholder="NAME*" required>
                    <input type="email" name="" class="form-control" placeholder="EMAIL*" required pattern="">
                    <input type="tel" name="" class="form-control" placeholder="PHONE">
                    <button class="form-contact__cta btn btn-primary" type="submit">SIGN UP</button>
                </div>
            </form>
        </div>
    </div>
</section>

<section class="location">
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3222.629485299126!2d-86.90975328472892!3d36.126883480092864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x886489fb5e697ecd%3A0xa3dab69b703966a3!2zNzExMyBDaGFybG90dGUgUGlrZSwgTmFzaHZpbGxlLCBUTiAzNzIwOSwg0KHQqNCQ!5e0!3m2!1sru!2sua!4v1574698292359!5m2!1sru!2sua" width="100%" height="500" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
</section>

<section class="boilerplate container--md">
    <div class="row">
        <div class="col-xl-3 col-md-4 mb-4 mb-md-0">
            <a href=""><img src="uploads/logo-crescent.png" alt="CRESCENT Communities"></a>
        </div>
        <div class="col-xl-9 col-md-8">
            <div class="boilerplate__text">
                <h2 class="boilerplate__ttl">BUILD COMMUNITY. BETTER PEOPLE'S LIVES.</h2>
                <p>Crescent Communities is a nationally recognized, market-leading real estate investor, developer and operator of multifamily, commercial and mixed use communities. Crescent creates high-quality, differentiated communities in many of the fastest growing markets in the Southeast and Southwest. Since 1963, Crescent's development portfolio h as included more than 55 multifamily communities, 20 million square feet of commercial s pace and 60 single family master-planned communities Watch our brand video.</p>
            </div>
        </div>
    </div>
</section>

<%= _.template(require('./../includes/footer.html').default)(data) %>
